.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33%;
    width: 560px;
}

.imgs{
    width: 400px;
    height: 400px;
    border-radius: 500px;
}

.imgs2{
    width: 75px;
    border: 1px solid #6b39d0;
    padding: 20px;
    border-radius: 100px;
}
.imgs2:hover{
    transform:scale(1.1);
    transition: 1s;
    border: 2px solid #6b39d0;


}

